/* Font 'Cookie' does not render in many devices. Import similar font and apply it: */
@font-face {
    font-family: 'LDFComicSans';
    src: url('comic-font/LDFComicSans.eot');
    src: url('comic-font/LDFComicSans.eot?#iefix') format('embedded-opentype'),
        url('comic-font/LDFComicSans.woff2') format('woff2'),
        url('comic-font/LDFComicSans.woff') format('woff'),
        url('comic-font/LDFComicSans.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
/***************************************************/
/* == GENERIC STYLING == */
/***************************************************/
body {
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    font-weight: 300;
    letter-spacing: 1px;
    color: #323232;
    /*fix for iOS*/
    -webkit-text-size-adjust: 100%;

    overflow-x: hidden;
}

header{margin-top: 20px;}

a.text-link{
	color: #5383d3;
    text-decoration: none;
}
a.text-link:hover,
a.text-link:focus{
    color: #00bc8c;
	cursor: pointer;
	text-decoration: none;
    transition: color 0.5s;
    -moz-transition: color .5s;
    -webkit-transition: color .5s;
}

.jumbotron.full-page{min-height: 650px;}



/***************************************************/
/* == NAV BAR == */
/***************************************************/
.navbar.navbar-custom{
	background-color: transparent;
    border-color: transparent;
	border-bottom: 1px solid #c4473a;    
}

.navbar .navbar-brand{margin-top: -3px;}
.navbar .navbar-brand:hover{color: inherit}


.navbar i.fa.fa-2x{font-size: 37px;}
.navbar .fa-user:before{margin-left: 7px;}

.navbar .show-mobile{
    display: none;
    margin-left: 20px;
    text-transform: uppercase;
    font-size: 20px;
}




/***************************************************/
/* == GRID of FEEDS == */
/***************************************************/
main div.jumbotron > h2{margin-bottom: 60px;}

div.container-of-feeds div.panel-group{
    margin-bottom: 55px;

    -webkit-box-shadow: 1px 6px 29px -3px rgba(0,0,0,0.2);
    box-shadow:         1px 6px 29px -3px rgba(0,0,0,0.2);
}

div.container-of-feeds div.panel-group .panel-title{
    height: 60px;
    text-align: justify;
    padding: 5px 5px 17px;
    /* Don't let it grow more than 3 lines! */
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

div.container-of-feeds div.panel .panel-collapse{
    max-height: 300px;
    overflow-y: auto; overflow-x: hidden;
    padding: 20px;
}
div.container-of-feeds div.panel .panel-collapse > p:first-of-type {margin-top: 5px;}
div.container-of-feeds div.panel .panel-collapse > p{font-size: smaller; text-align: justify;}


div.container-of-feeds div.img-container{
    background: #eeeeee; /* Wanna test...? => lightslategrey;*/
    display: flex;
    max-width: 100%;
    align-items: center;
    justify-content: center;
    height: 13vh;
    overflow: hidden;

    -webkit-box-shadow: 1px 6px 29px -3px rgba(0,0,0,0.2);
    box-shadow:         1px 6px 29px -3px rgba(0,0,0,0.2);

}

div.container-of-feeds div.panel-footer.panel-categories{
    text-align: left;
    height: 63px;
    overflow-y: auto;
    overflow-x: hidden;
}
div.container-of-feeds div.panel-footer.panel-categories .label{
    display: inline-block;
    margin: 4px 5px;

    opacity: 0.5;
    transition: opacity 0.5s;
    -moz-transition: opacity .5s;
    -webkit-transition: opacity .5s;
}
div.container-of-feeds div.panel-footer.panel-categories .label:hover{
    text-decoration: none;
    
    opacity:1;
    transition: opacity 0.5s;
    -moz-transition: opacity .5s;
    -webkit-transition: opacity .5s;

}

div.container-of-feeds div.panel-footer.panel-roda-pe > p:first-of-type{font-size: smaller;font-weight: 600; text-align: right;}
div.container-of-feeds div.panel-footer.panel-roda-pe > p:last-of-type{padding-bottom: 10px;}




/***************************************************/
/* == FOOTER == */
/***************************************************/

.footer-distributed{
	/*background-color: #292c2f;*/
    background-color: #2a3035;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;

	padding: 55px 50px;
	/*margin-top: 80px;*/
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
	width: 30%;
}

/* The company logo */

.footer-distributed h3,
.navbar-brand{
	color:  #ffffff;
	font: normal 36px 'LDFComicSans', cursive;
	margin: 0;
}

.footer-distributed h3 span,
.navbar-brand span{
	/*color:  #5383d3;*/
    color: #00bc8c;

}

/* Footer links */

.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 20px 0 12px;
	padding: 0;
    /*Reset BS jumbotron:*/
    font-size: inherit;
    font-weight: inherit;
}

.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
    text-transform: uppercase;
}
.footer-distributed .footer-links a:hover,
.footer-distributed .footer-links a:focus{
    color: #00bc8c;
    background-color: transparent;
}

.footer-distributed .footer-company-name{
	color:  #8f9296;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center{
	width: 40%;
}

.footer-distributed .footer-center i{
	background-color:  #33383b;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}

.footer-distributed .footer-center p{
	display: inline-block;
	color: #ffffff;
	vertical-align: middle;
	margin:0;
    /*Reset BS jumbotron:*/
    font-size: inherit;
    font-weight: inherit;
}

.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}

.footer-distributed .footer-center p a{
	color:  #5383d3;
	text-decoration: none;;
}


/* Footer Right */

.footer-distributed .footer-right{
	width: 25%;
}

.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}

.footer-distributed .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}

.footer-distributed .footer-icons{
	margin-top: 25px;
}

.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-right: 3px;
	margin-bottom: 5px;
}





/***************************************************/
/* == @media queries == */
/***************************************************/

/* Large desktop */
@media (min-width: 1200px) {
    
}

/* Portrait tablet to landscape and desktop */
@media (min-width: 979px) and (max-width: 1199px) {
    
}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 978px) {
    .container {width: 95%;}
    div.container-of-feeds div.img-container{height: 19vw;}
}
 
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
    .navbar .show-mobile{display: inline-block;}
    div.container-of-feeds div.img-container{height: auto;}
    div.container-of-feeds div.panel-group{margin-bottom: 100px;}
}
 
/* Landscape phones and down */
@media (max-width: 480px) {
    
}


/* Some "special" (no device attached) ones: */
@media (max-width: 880px) {

}

@media (max-width: 675px) {
    
}

